.users {
    padding: 16px;
    &__header {
        display: flex;
        flex-direction: row;
        &__title {
            margin: 0;
        }
        margin-bottom: 16px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        &__table {
            margin-top: 32px;
        }
    }
}
