<form [formGroup]="formGroup" class="users__form">
  <mat-form-field appearance="outline">
    <mat-label>Searching field</mat-label>
    <input
      matInput
      formControlName="searchField"
      [matAutocomplete]="searchField"
      (ngModelChange)="search('searchField', $event)"
    >
    <mat-autocomplete #searchField="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of options['searchField']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="noUsersFound" class="no-registers">No guests found.</div>
  <button mat-button class="button" (click)="toggleAdvancedSearch()">
    Advanced search
  </button>
  <mat-form-field *ngIf="advancedSearch" appearance="outline">
    <mat-label>First Name</mat-label>
    <input
      matInput
      formControlName="firstName"
      [matAutocomplete]="firstName"
    >
    <mat-autocomplete #firstName="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of options['firstName']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="advancedSearch" appearance="outline">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      formControlName="lastName"
      [matAutocomplete]="lastName"
    >
    <mat-autocomplete #lastName="matAutocomplete">
      <mat-option *ngFor="let option of options['lastName']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="advancedSearch" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      [matAutocomplete]="email"
    >
    <mat-autocomplete #email="matAutocomplete">
      <mat-option *ngFor="let option of options['email']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="advancedSearch" appearance="outline">
    <mat-label>Phone number</mat-label>
    <input
      matInput
      formControlName="phone"
      [matAutocomplete]="phone"
    >
    <mat-autocomplete #phone="matAutocomplete">
      <mat-option *ngFor="let option of options['phone']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="advancedSearch" appearance="outline">
    <mat-label>Customer ID</mat-label>
    <input
      matInput
      formControlName="consumerId"
      [matAutocomplete]="consumerId"
    >
    <mat-autocomplete #consumerId="matAutocomplete">
      <mat-option *ngFor="let option of options['consumerId']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button *ngIf="advancedSearch" mat-raised-button color="primary" [disabled]="isFormValid()" (click)="checkUser()">
    CHECK USER
  </button>
</form>