.users {
    padding: 16px;
    &__header {
        display: flex;
        flex-direction: row;
        &__title {
            margin: 0;
        }
        margin-bottom: 16px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
}
.button {
    width: 20%;
    margin-bottom: 16px;
    cursor: pointer;
}
.no-registers {
    color: red;
}
